<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../layout/head.ejs") %>
    <title>Dashboard</title>
</head>
<body id="page-top">
    <div id="wrapper">
        <%- include("../../layout/navbar.ejs") %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <%- include("../../layout/topbar.ejs") %>
                <%- include("./partials/cardV1.ejs") %>
            </div>
            <%- include("../../layout/footer.ejs") %>
        </div>
    </div>
    <%- include("../../layout/required-content.ejs") %>
</body>
</html>